h1{
    font-family: Digital-7 Mono;
    text-align: center;
    color: black;
}

p{
   font-family: verdana;
   text-align: center;
   color: black;
}

body {
    background-image: url('background_5.jpg');
}
